In [23]:
import pandas as pd
import numpy as np
import requests

In [76]:
#Creating a dataframe to store the information_table from the html page.
df_scraped = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df_scraped.columns = df_scraped.iloc[0]
df_scraped.drop(df_scraped.index[0], inplace=True)
df_scraped.reindex()
df_scraped.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [77]:
df_scraped = df_scraped[~(df_scraped['Borough']=='Not assigned')]
df_scraped.head()

0 Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

In [78]:
# @hidden_cell
# for postcode in df_scraped.Postcode.unique():
#     common_postalcodes = df_scraped[['Postcode'] == postcode]
#     df_scraped['Neighbourhood'] = common_postalcodes['Neighbourhood']     nghood_string = ','.join(map(str, myList))

In [79]:
df_scraped['Neighbourhood'] = df_scraped[['Postcode','Borough','Neighbourhood']].groupby(['Postcode'])['Neighbourhood'].transform(lambda x: ','.join(x))
df_scraped = df_scraped[['Postcode','Borough','Neighbourhood']].drop_duplicates()
df_scraped = df_scraped.reset_index(drop=True)
df_scraped.head()

0 Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [83]:
for i,nghhood in enumerate(df_scraped['Neighbourhood']):
    if (nghhood == 'Not assigned'):
        df_scraped['Neighbourhood'][i] = df_scraped['Borough'][i]

In [85]:
df_scraped.head(11)

0  Postcode           Borough                    Neighbourhood
0       M3A        North York                        Parkwoods
1       M4A        North York                 Victoria Village
2       M5A  Downtown Toronto         Harbourfront,Regent Park
3       M6A        North York  Lawrence Heights,Lawrence Manor
4       M7A      Queen's Park                     Queen's Park
5       M9A         Etobicoke                 Islington Avenue
6       M1B       Scarborough                    Rouge,Malvern
7       M3B        North York                  Don Mills North
8       M4B         East York   Woodbine Gardens,Parkview Hill
9       M5B  Downtown Toronto          Ryerson,Garden District
10      M6B        North York                        Glencairn

In [86]:
df_scraped.shape

(103, 3)